// NOTE this are the things to be deleted when tailwind is fixed

.flex {
  display: flex;
}

$directions: (
  'row': row,
  'row-reverser': row-reverse,
  'col': column,
  'col-reverser': column-reverse,
);

@each $name, $direction in $directions {
  .flex-#{$name} {
    flex-direction: $direction;
  }
}

$positions: (
  'absolute': absolute,
  'relative': relative,
  'fixed': fixed,
);

@each $name, $position in $positions {
  .#{$name} {
    position: $position;
  }
}

$var-justify: (
  'center': center,
  'around': space-around,
  'evenly': space-evenly,
  'between': space-between,
);

@each $name, $position in $var-justify {
  .justify-#{$name} {
    justify-content: $position;
  }
}

$var-items: (
  'center': center,
  'start': start,
  'end': end,
);

@each $name, $position in $var-items {
  .items-#{$name} {
    align-items: $position;
  }
}

$text-align: (
  'center': center,
  'left': left,
  'right': right,
);

@each $name, $position in $text-align {
  .text-#{$name} {
    text-align: $position;
  }
}

$cursors: (
  'pointer': pointer,
  'not-allowed': not-allowed,
);

@each $name, $cursor in $cursors {
  .cursor-#{$name} {
    cursor: $cursor;
  }
}

$f-weights: (
  'thin': 100,
  'extralight': 200,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'black': 900,
);

@each $name, $f-weight in $f-weights {
  .font-#{$name} {
    font-weight: $f-weight;
  }
}

$f-style: (
  'italic': italic,
);

@each $name, $f-style in $f-style {
  .#{$name} {
    font-style: $f-style;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}
