@import './components/index.scss';

@import './abstract/helpers';
@import './abstract/general';
@import './abstract/loading';

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// prevent dragging of images
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
