@import './components/index.scss';

@import './abstract/helpers';
@import './abstract/general';

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// prevent dragging of images
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
